* {
    box-sizing: border-box;
    background-color:rgb(166, 229, 245);
    color:black;
}

html, body {
    margin:auto;
    padding: 0;
}

h1{
    margin-left: 200px;
    font-size: 60px;
}

.container {
    max-width: 900px;
    padding: 0;
}

.product-items{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-gap: 10px;
}

.product-item{
    margin-bottom:20px;
    padding: 20px;
}

.cart-section{
    margin:60px;
    padding: 10px;
    width:50%;
    border:5px solid black;
}

.btn {
    text-align: center;
    padding: 1em 1em;
    cursor: pointer;
}

.btn-primary {
    color: black;
    background-color: white;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: rgba(255, 255, 255, 0.829);
}

img{
    border:5px solid rgb(40, 26, 231);
    border-radius: 10px;
}

.cart-row{
    margin-bottom:20px;

}

.btn-danger {
    color: white;
    background-color: #f03535;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #ee4e4e;
}
